@font-face {
  font-family: "Graphik";
  font-weight: 800;
  src: url("fonts/graphik-lcg/GraphikLCG-Black.otf") format("opentype");
}

@font-face {
  font-family: "Graphik";
  font-weight: 400;
  src: url("fonts/graphik-lcg/GraphikLCG-Regular.otf") format("opentype");
}

html, body {
  background-color: #333333;
}

.App {
  text-align: center;
}

h1 {
  font-size: 32px;
  font-family: "Graphik";
  font-weight: 800;
}

h2 {
  font-size: 20px;
  font-family: "Graphik";
  font-weight: 400;
}
